{% extends "layout.html" %}

{% block content %}
    <div class="details-container">
        <h2>{{ report.brand }} - {{ report.model }}</h2>

        <span class="badge {{  report.type  }}">
            {{ report.type | capitalize }}
        </span>

    <!-- Images -->
        <div class="image-wrapper">
            {% if report.photo1 %}
                <img class="img-fluid" src="{{ url_for('static', filename='uploads/' ~ report.photo1) }}" alt="Earbud image">
            {% endif %}
            {% if report.photo2 %}
                <img class="img-fluid" src="{{ url_for('static', filename='uploads/' ~ report.photo2) }}" alt="Earbud image">
            {% endif %}
        </div>

        <div class="details-info">
            <hr>
            <h5>Contact Report Owner</h5>
            <p>
                <strong>Owner:</strong> {{ report.user_name  }} <br>
                <strong>Email:</strong>
                <a href="mailto:{{ report.user_email }}">
                    {{ report.user_email }}
                </a>
            </p>
            <p><strong>Part:</strong> {{ report.part  }}</p>
            <p><strong>Color:</strong> {{ report.color  }}</p>
            <p><strong>Location:</strong> {{ report.location_text  }}</p>
            <p><strong>Date:</strong> {{ report.event_date | replace("-", "/")  }}</p>
        </div>

        <p class="description">
            {{ report.description or "No description provided."   }}
        </p>

        <a href="/" class="view-btn">Back</a>
    </div>
{% endblock %}
